/* CSS Document */


.main-wrap {
  margin: 0 20px;
  min-width: 1200px;
}

.panel-heading {
  color: #999 !important;
}

.list-column .count p {
  line-height: 34px;
}

.list-column .pagination {
  margin-top: 0;
  margin-bottom: 5px;
}

.list-column table {
  clear: both;
  width: 50%;
  margin: auto;
}

.list-column table tr th,
.list-column table tr td {
  vertical-align: middle;
}

.list-column table tr th.mail-column {
}

.list-column table tr th.name-column {
}

.list-column table tr th.status-column {
  width: 80px;
}

.list-column table tr td.btn-column {
  width: 200px;
}

.list-column table tr td.btn-column button {
  margin-right: 10px;
}

.list-column table tr td.btn-column button:last-child {
  margin-right: 0;
}

.modal table tr th,
.modal table tr td {
}

.modal table tr th {
  vertical-align: middle;
}

.modal table tr td .image {
  width: 150px;
  height: 150px;
  border: 1px solid #CCC;
  margin-top: 10px;
}

.modal table tr td .radio label {
  margin-right: 20px;
}